<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.xzy.utils">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REPLACE_EXISTING_PACKAGE" />
    <!-- 8.0必要权限  -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application android:name="com.xzy.utils.UtilsApp">
        <!-- Android 4.4 Unable to get provider 问题请参考
        https://blog.csdn.net/zhourui_1021/article/details/81026863 -->
        <provider
            android:name="com.xzy.utils.asserts.AssertProvider"
            android:authorities="com.xzy.utils.asserts.AssertProvider"
            android:exported="true"
            android:grantUriPermissions="true" />

        <!-- AppUtils#installAPK 需要用到，做 Android 7.0 文件访问的兼容处理 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path"/>
        </provider>
    </application>
</manifest>